<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Rachel Manca</h1>
      <p>Computer Science | WPI 2020</p>
    </div>
    <div class="content">
      <p>
        Hello, I'm a freshman computer science student from  <strong>WPI</strong> Class of 2020 and currently searching for  <strong>internships</strong> in the greater Boston area.
      </p>
      <p>
       I am from Sterling, MA. I enjoy reading books and hanging out with friends and family. I know Racket and am excited to learn Java. For fun I play the french horn. </p>
      <p>
        <br>
        <img class="company-logo" src="documents/GH.jpeg">
        In the past I worked at HomeGoods. Currently I lifeguard at the Great Harbors Resident Association Pool and at the WPI Sports and Recreation pool. I enjoy providing a safe enviroment for swimmers. 
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
