<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
   <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Resume</h1>
      <p>jobs pls</p>
    </div>

    <div class="container">
      <div class="general-container resume-container">
        <img src="/images/hubspotbig.png"/>
        <div>
          <h3>HomeGoods</h3>
          <h4>Associate</h4>
          <h4>July 2013 - July 2015</h4>
          <p>
            Cashiering, working the sales floor, and prodvinding customer service
          </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/csail.png"/>
      <div>
        <h3>Great Harbors Resident Association</h3>
          <h4>Lifeguard</h4>
          <h4>June 2015 - present</h4>
        <p>
          Lifeguarding and help run programs for kids at the pool.
        </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/originate.png"/>
      <div>
        <h3>Originate</h3>
          <h4>WPI Sports and Recreation Center</h4>
          <h4>June 2014 - August 2014</h4>
        <p>
          Lifeguarding and providing a safe enviroment for WPI students and falculty
        </p>
      </div>
    </div>


    
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
